* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Stylish', sans-serif;
	background: url(images/bgm.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

}

header {
	height: 50px;
	background-color: #3E065F;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #C996CC;
	width: 100%;
}

.box {
	height: 80%;
	width: 50%;

}

.location {
	color: #3E065F;
	margin-top: 90px;
	text-align: right;
}

.main {
	background-color: #3E065F;
	border-radius: 20px;
	height: 280px;
	color: #C996CC;
	margin-top: 20px ;
	display: flex;
	flex-direction: row;
}

.card .logo {
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.container{
	margin: 50px;
}

.container h1 {
	font-style: italic;
}

.container p {
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 30px;
}